# Mobina Pournemat - 97105833

## Import Libraries

In [56]:
import os
import random 
import tqdm
import nltk, re
from nltk.tokenize import sent_tokenize
from nltk import word_tokenize
import string
from nltk.corpus import stopwords
from nltk.probability import FreqDist
import numpy as np
import itertools
from nltk import FreqDist
import pandas as pd
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize, pos_tag

In [53]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

## Data Loading
This data which extracted from [The 20 Newsgroups data set](http://qwone.com/~jason/20Newsgroups/) is a collection of approximately 20,000 newsgroup documents, partitioned (nearly) evenly across 20 different newsgroups. The 20 newsgroups collection has become a popular data set for experiments in text applications of machine learning techniques, such as text classification and text clustering.  
for this notebook, I chose the space category which contains 593 text files.

In [13]:
content = []
path = './sci.space'
for file in os.listdir(path):
    filepath = os.path.join(path, file)
    with open(filepath, 'r') as f:
        content.append(f.read())

print(len(content))

593

## Text sample

In [318]:
for x in random.sample(content, 3):
    print(''.join(x))
    print()
    print("="*80)
    print("="*80)
    print()

From: dnadams@nyx.cs.du.edu (Dean Adams)
Subject: Ariane v.56 Mission Data
Organization: University of Denver, Dept. of Math & Comp. Sci.
Lines: 114



ARIANESPACE FLIGHT 56

(Flight V.56 was originally intended to carry the Hughes HS-601 series
Galaxy IV satellite, but the payload was withdrawn just prior to flight.)

The 56th Ariane launch is now scheduled to place the ASTRA 1C and ARSENE
satellites into an improved geostationary transfer orbit (GTO), with
inclination reduced to 5 degrees and apogee altitude increased by 150 km.
This will be the 28th launch of an Ariane 4 and the first in the 42L
configuration, with 2 liquid strap-on boosters (PAL).  It will be launched
from the newly refurbished Ariane launch complex ELA 2, in Kourou - French
Guiana.

The launch vehicle performance requirement for this mission is 3,147 kg
of which 2,944 kg represents the satellite mass.  The total vehicle mass
at liftoff is 361,778 kg.


Required Orbit Characteristics:
  Perigee Altitude ..... 200 km
  Apogee Altitude ...... 36,160 km at injection
  Inclination ..........   5 degrees


The Ariane 42L lift-off for Flight 56 is scheduled on Thursday,
April 29, 1993, as soon as possible within the following launch
window:

     Kourou Time        GMT (04/30/93)      Washington, DC
     21:52 - 22:50      00:52 - 01:50       20:52 - 21:50


LAUNCH VEHICLE:

Ariane 42L.  This is a three-stage liquid fueled launcher with two liquid
fueled strap-on boosters.  The first stage (L220) is built by Aerospatiale,
and is powered by 4 liquid fueled Viking V engines.  The second stage (L33)
is built by MBB Erno and is powered by a single Viking IV engine.  Both the
Viking IV and V engines are manufactured by SEP.  The first and second stages
use a biliquid UH25/N2O4 fuel. The third stage (H10) is built by Aerospatiale,
and is powered by a cryogenic H2/O2 fueled HM-7B engine built by SEP. The two
strap-on boosters (PAL) are each powered by a Viking VI engine, also built
by SEP, which use the same biliquid fuel as the first and second stages.
The fully assembled launch vehicle stands 56 meters high on the pad.
It uses the Type 01 Ariane Short payload fairing.


Flight Profile:

 +02:21  Liquid strap-on booster jettison
 +03:11  First stage separation
 +03:18  Second stage ignition
 +04:10  Fairing jettison
 +05:21  Second stage separation
 +05:26  Third stage ignition
 +17:30  Third stage shutdown / orbit injection
 +19:56  ASTRA 1C separation
 +22:36  Cyclade adapter separation
 +24:26  ARSENE separation
 +28:47  End of Ariane mission 56


PAYLOADS:

ASTRA 1C is the third spacecraft in the fleet of "Societe Europeenne
des Satellites" to broadcast direct TV to homes all over Europe.
Built by Hughes, it will be the second HS-601 launched by Ariane.

  Total mass at lift-off .... 2,790 kg
  Mass at GEO insertion ..... 1,700 kg
  Dry mass .................. 1,180 kg
  On-board power ............ 3,300 W (end of life)
  Nominal lifetime .......... 15 years
  Span of solar panels ...... 21 m
  On-Orbit position ......... 19.2 degrees east, over Africa.

 Transmission capacity:
   34 channels in Ku-band, via 18 transponders.

 In-flight operations:
   Solar array deployment ............ about 6 days after lift-off
   First of 3 apogee motor firings ... about 40 hours after lift-off
                                       at 4th apogee


ARSENE is the first spacecraft built by the European Space Industry
for the benefit of the world amateur radio community.

  Total mass at lift-off .... 154 kg
  Mass at GEO insertion .....  98 kg
  Dry mass ..................  97 kg
  On-board power ............ 42 W (end of life)
  Nominal lifetime .......... 3 years
  Spacecraft dimensions ..... 1.1m x .96m
  Orbital parameters ........ 20000/36000 km, 0 inclination, period 17:30.

 Transmission capacity:
   S-band:  1 transponder at 2.446 ghz
   VHF/UHF: 145/435 mhz


LAUNCH COVERAGE:

All Ariane missions are broadcast live via satellite from Kourou.
Coverage begins at 30 minutes before launch and continues until
all payloads have been deployed.  This mission will likely be carried
in the US on Galaxy 6, however it could be Galaxy 7 or another satellite.
(What is the European satellite normally used for Ariane coverage?)


-{ Dean Adams }-



================================================================================
================================================================================

From: baalke@kelvin.jpl.nasa.gov (Ron Baalke)
Subject: JPL's VLBI Project Meets with International Space Agencies
Organization: Jet Propulsion Laboratory
Lines: 112
Distribution: world
NNTP-Posting-Host: kelvin.jpl.nasa.gov
Keywords: VLBI, JPL
News-Software: VAX/VMS VNEWS 1.41

From the "JPL Universe"
April 23, 1993

VLBI project meets with international space agencies

By Ed McNevin
     Members of JPL's Space Very Long Baseline Interferometry
(VLBI) project team recently concluded a week-long series of
meetings with officials from Russia and Japan.
     The meetings were part of "Space VLBI Week" held at JPL in
early March and were intended to maintain cooperation between
international space agencies participating in the development of
the U.S. Space VLBI Project, a recently approved JPL flight
project set for launch in 1995.
     U.S. Space VLBI will utilize two Earth-orbiting spacecraft
-- the Japanese VSOP (VLBI Space Observing Program) satellite
with its 8-meter radio telescope, and a Russian RADIOASTRON
10-meter satellite. Both spacecraft will team up with
ground-based radio telescopes located around the world to create
a radio telescope network that astronomers hope will expand radio
telescope observing power by a factor of 10.
     Japan's VSOP satellite will use a limited six-hour orbit to
conduct imaging science, while the Russian RADIOASTRON spacecraft
will exploit a larger, 28-hour Earth orbit to conduct exploratory
radio astronomy. Each satellite will point at a source target for
roughly 24 hours, while approximately 20 ground-based radio
telescopes will simultaneously point at the same source object
while within view on Earth.
     According to Dr. Joel Smith, JPL's project manager for the
U.S. Space VLBI, meetings like those held at JPL will permit
Japan and Russia, who have little previous experience in radio
interferometry, to establish working relationships with the radio
astronomy communities that will be vital during the complex
observations required by the Space VLBI project.
     "One of our main activities is developing the methodology
for international coordination, because the two spacecraft
simultaneously rely on the corresponding tracking stations while
using the ground-based radio telescopes to observe the same
celestial objects," said Smith.
     Three new tracking antennas are being built at DSN
facilities and other three other tracking facilities located in
Japan, Russia and Green Bank, W.Va. This global network of
ground-based radio telescopes will use precision clocks and
high-speed recorders to collect observation data and forward the
information to a correlator located at the National Radio
Astronomy Observatory in Socorro, N.M. The correlator will
combine and process data, then make it available to mission
investigators in Moscow, Tokyo, and JPL via electronic mail.
     Smith is optimistic that the massive radio telescope created
by the Space VLBI network will provide radio astronomers with
better resolution than has ever been achieved before by
ground-based radio telescopes, allowing astronomers to take a
closer look at distant objects in space.
     "There is a long history of radio astronomy using
ground-based telescopes," said Smith. "What we intend to do is to
extend radio astronomy into Earth orbit. Our goal is to look
deeper into the cores of galactic nuclei, quasars and other
active radio sources to understand what drives those things we
have seen so far with radio astronomy."
     Smith noted that if one examines "the active galactic
nuclei, you'll find jets appearing to spew at speeds greater than
light, and at energy levels that are millions of times greater
than you would expect."
     He said some astronomers believe that black holes may be
located in the cores of these galaxies, and that they may fuel
the jets. Smith hopes that "by using Space VLBI to look further
into the cores, this theory may be supported or disproved."
     Russian space-flight hardware, including transponders and
transmitters, are now being tested in the United States, and
Japanese hardware is scheduled to arrive for testing later this
year. Analysis of this hardware will permit U.S. scientists and
engineers to understand how to modify the high-speed VLBA
Correlator operating at the NRAO in order to accommodate the odd
data patterns that will originate from the more than 20
ground-based radio telescopes involved in Space VLBI.
     Smith is particularly pleased that meetings with the
Japanese and Russian space agency officials -- like those held at
JPL in March -- have proceeded smoothly. Yet he knows that the
political uncertainty in Russia could jeopardize that country's
participation in the project.
     "Nothing is ever smooth," he said, "but the Russians have
been incredibly open with us. We always anticipated some
likelihood that we will not succeed because of political factors
beyond our control, yet there tends to be a way of keeping these
things going, because scientists on both sides are trying hard,
and people recognize the value of cooperation at this level."
     Smith points out that the Japanese space agency has more at
stake than just fulfilling an international commitment to a
science mission.
     "The Japanese have been extremely cooperative, since
international cooperation is essential to their science mission,"
he said.
     But Smith also noted that Japanese space agency officials
look at the U.S. Space VLBI mission as an opportunity to showcase
the technology involved with VSOP spacecraft, and their highly
regarded Mach V launch vehicle.
     Yet regardless of the risks involved in undertaking such an
ambitious project, JPL's Smith is satisfied that planning for the
Space VLBI Project is beyond the significant financial and
political hurdles that otherwise might threaten the project.
     "Fortunately, we have the virtue of having two partners, and
if either falls out, we would still have something with the
other. By themselves, both spacecraft are independent,
scientifically exciting missions."
                           ###
     ___    _____     ___
    /_ /|  /____/ \  /_ /|     Ron Baalke         | baalke@kelvin.jpl.nasa.gov
    | | | |  __ \ /| | | |     Jet Propulsion Lab |
 ___| | | | |__) |/  | | |__   M/S 525-3684 Telos | The aweto from New Zealand
/___| | | |  ___/    | |/__ /| Pasadena, CA 91109 | is part caterpillar and
|_____|/  |_|/       |_____|/                     | part vegetable.



================================================================================
================================================================================

From: eder@hsvaic.boeing.com (Dani Eder)
Subject: Re: NASP
Distribution: sci
Organization: Boeing AI Center, Huntsville, AL
Lines: 39

I have before me a pertinent report from the United States General
Accounting Office:

National Aero-Space Plane: Restructuring Future Research and Development
Efforts
December 1992
Report number GAO/NSIAD-93-71

In the back it lists the following related reports:

NASP: Key Issues Facing the Program (31 Mar 92) GAO/T-NSIAD-92-26

Aerospace Plane Technology: R&D Efforts in Japan and Australia
(4 Oct 91) GAO/NSIAD-92-5

Aerospace Plane Technology: R&D Efforts in Europe (25 July 91)
GAO/NSIAD-91-194

Aerospace Technology: Technical Data and Information on Foreign
Test Facilities (22 Jun 90) GAO/NSIAD-90-71FS

Investment in Foreign Aerospace Vehicle Research and Technological
Development Efforts (2 Aug 89) GAO/T-NSIAD-89-43

NASP: A Technology Development and Demonstration Program to Build
the X-30 (27 Apr 88) GAO/NSIAD-88-122


On the inside back cover, under "Ordering Information" it says

"The first copy of each GAO report is free.  . . .  Orders
may also be placed by calling (202)275-6241
"

Dani

--
Dani Eder/Meridian Investment Company/(205)464-2697(w)/232-7467(h)/
Rt.1, Box 188-2, Athens AL 35611/Location: 34deg 37' N 86deg 43' W +100m alt.


================================================================================
================================================================================

## Data Cleaning & Normalization

As you can see, the data is very dirty so we need to utilize some  normalization methods to make it usable for different tasks.  
But there is a special thing about this dataset which is containing a lot of email addresses. I'm gonna extract those emails and remove them from sentences.

In [17]:
def find_emails(text):
  emails = re.findall(r"[A-Za-z0-9_%+-.]+"
                 r"@[A-Za-z0-9.-]+"
                 r"\.[A-Za-z]{2,5}",text)
  words = text.split()
  sent = []
  for word in words:
    if word in emails:
      continue
    check = 0
    for e in emails:
      if e in word:
        check = 1
        break
    if check == 0:
      sent.append(word)
      
  return ' '.join(sent), emails

In [19]:
def remove_whitespace(text):
    return  " ".join(text.split())

In [20]:
def get_lowercase(text):
  words = word_tokenize(text)
  lowered = [word.lower() for word in words if len(word)>2]
  return ' '.join(lowered)

In [21]:
def remove_punctuation(text):
  result = [char for char in text if char not in string.punctuation]
  return ''.join(result)

In [22]:
def remove_stopwords(text):
  stop_words = stopwords.words('english')
  words = word_tokenize(text)
  filtered = [word for word in words if (word.lower() not in stop_words)]
  return ' '.join(filtered)

In [172]:
sentences = []
for c in content:
  sent = sent_tokenize(c)
  sentences += sent

print(len(sentences))

9366

In [196]:
normalized_sents = []
emails = []
for sent in sentences:
  s = remove_whitespace(sent)
  s, ems = find_emails(s)
  emails += ems
  s = remove_punctuation(s)
  s = remove_stopwords(s)
  s = get_lowercase(s)
  normalized_sents.append(s)

print(len(normalized_sents))

9366

In [25]:
s = sentences[0]
print(s)
s = remove_whitespace(s)
print(s)
s, _ = find_emails(s)
print(s)
s = remove_punctuation(s)
print(s)
s = remove_stopwords(s)
print(s)
s = get_lowercase(s)
print(s)

From: matthew@phantom.gatech.edu (Matthew DeLuca)
Subject: Re: nuclear waste
Organization: The Dorsai Grey Captains
Lines: 15
NNTP-Posting-Host: oit.gatech.edu

In article <844@rins.ryukoku.ac.jp> will@rins.ryukoku.ac.jp (William Reiken) writes:

>	Ok, so how about the creation of oil producing bacteria?
From: matthew@phantom.gatech.edu (Matthew DeLuca) Subject: Re: nuclear waste Organization: The Dorsai Grey Captains Lines: 15 NNTP-Posting-Host: oit.gatech.edu In article <844@rins.ryukoku.ac.jp> will@rins.ryukoku.ac.jp (William Reiken) writes: > Ok, so how about the creation of oil producing bacteria?
From: (Matthew DeLuca) Subject: Re: nuclear waste Organization: The Dorsai Grey Captains Lines: 15 NNTP-Posting-Host: oit.gatech.edu In article (William Reiken) writes: > Ok, so how about the creation of oil producing bacteria?
From Matthew DeLuca Subject Re nuclear waste Organization The Dorsai Grey Captains Lines 15 NNTPPostingHost oitgatechedu In article William Reiken writes  Ok so how about the creation of oil producing bacteria
Matthew DeLuca Subject nuclear waste Organization Dorsai Grey Captains Lines 15 NNTPPostingHost oitgatechedu article William Reiken writes Ok creation oil producing bacteria
matthew deluca subject nuclear waste organization dorsai grey captains lines nntppostinghost oitgatechedu article william reiken writes creation oil producing bacteria

In [27]:
splited_sents = [sent.split() for sent in normalized_sents]

In [29]:
mp_freqdist = FreqDist(itertools.chain(*splited_sents)) 
top20words = mp_freqdist.most_common(30)
print ('%-16s' % 'word', '%-16s' % 'Frequency','%-16s' %  '% of the total')
for topword in top20words:
    percent=(topword[1]/len(splited_sents))*100
    print ('%-16s' % topword[0], '%-16s' % topword[1],'%-16s' %  percent)

word             Frequency        % of the total
space            1194             12.748238308776424
subject          633              6.758488148622678
organization     613              6.5449498184924195
lines            613              6.5449498184924195
would            553              5.904334828101645
writes           452              4.82596626094384
one              399              4.260089686098654
article          385              4.110612855007474
nasa             382              4.078582105487935
launch           327              3.4913516976297245
like             324              3.459320948110186
also             285              3.042921204356182
nntppostinghost  282              3.0108904548366433
orbit            275              2.936152039291053
first            273              2.914798206278027
moon             271              2.8934443732650013
university       269              2.872090540251975
get              250              2.6692291266282298
data             246              2.626521460602178
dont             242              2.5838137945761264
time             233              2.48772154601751
lunar            224              2.391629297458894
could            224              2.391629297458894
earth            222              2.370275464445868
new              221              2.3595985479393553
shuttle          217              2.3168908819133036
may              215              2.2955370489002775
system           213              2.274183215887252
think            206              2.1994448003416616
satellite        205              2.188767883835148

As you can see there are lots of uninformative words with high frequencies. Some of these words are appeared in the above list due to the dataset's characteristics; for instance, words like 'subject', 'organization', and 'lines' which are appeared in the headline of most files and don't contain any information about the dataset's specifications. Moreover, the frequency of auxiliary verbs is high too. So I'm going to apply another stop-word removing step.

In [275]:
def second_stopword_removing(text):
  sw = ['subject', 'organization', 'lines']
  aux = ['will', 'would', 'could', 'can', 'may', 'should','might', 'must']
  words = word_tokenize(text)
  filtered = [word for word in words if (word.lower() not in sw+aux)]
  return ' '.join(filtered)

In [31]:
normalized_sents2 = []
for sent in normalized_sents:
  s = second_stopword_removing(sent)
  normalized_sents2.append(s)

print(len(normalized_sents2))

9366

In [32]:
splited_sents2 = [sent.split() for sent in normalized_sents2]

## Dataset's Statistics

In [34]:
sentence_words = list(itertools.chain(*splited_sents2))
print ('%-16s' % 'Number of words', '%-16s' % len(sentence_words))
print ('%-16s' % 'Number of unique words', '%-16s' % len(set(sentence_words)))
avg=np.sum([len(word) for word in sentence_words])/len(sentence_words)
print ('%-16s' % 'Average word length', '%-16s' % avg)
avg_sentence_length_c=np.mean([len(' '.join(sentence)) for sentence in sentence_words])
print ('%-16s' % 'Average sentence length in characters', '%-16s' % avg_sentence_length_c)
print ('%-16s' % 'Longest word', '%-16s' % sentence_words[np.argmax([len(word) for word in sentence_words])])

Number of words  96505
Number of unique words 15892
Average word length 6.477021915962903
Average sentence length in characters 11.954043831925807
Longest word     miscforsalewantedmiscwantednewantednywantednjwanted

## Tokenization

In [71]:
tokenized_sents = []
for sent in normalized_sents2:
  words = word_tokenize(sent)
  tokenized_sents.append(words)

print(len(tokenized_sents))

9366

In [72]:
tokenized_sents[:3]

[['matthew',
  'deluca',
  'nuclear',
  'waste',
  'dorsai',
  'grey',
  'captains',
  'nntppostinghost',
  'oitgatechedu',
  'article',
  'william',
  'reiken',
  'writes',
  'creation',
  'oil',
  'producing',
  'bacteria'],
 ['figure', 'make', 'eat', 'make', 'shit'],
 ['comments']]

## Frequency Analysis

In [280]:
all_tokens = list(itertools.chain(*splited_sents2))
dataframe = {}
token_freq = FreqDist(all_tokens).most_common(30)
dataframe['Token'] = [pair[0] for pair in token_freq]
dataframe['Frequency'] = [pair[1] for pair in token_freq]
freq_analysis = pd.DataFrame(dataframe) 
freq_analysis

              Token  Frequency
0             space       1194
1            writes        452
2               one        399
3           article        385
4              nasa        382
5            launch        327
6              like        324
7              also        285
8   nntppostinghost        282
9             orbit        275
10            first        273
11             moon        271
12       university        269
13              get        250
14             data        246
15             dont        242
16             time        233
17            lunar        224
18            earth        222
19              new        221
20          shuttle        217
21           system        213
22            think        206
23        satellite        205
24           people        201
25             much        193
26             know        188
27          program        186
28          science        174
29          mission        171

## Stemming & Lemmatization

In [282]:
def get_lemmatization(token):
  lemmatizer = WordNetLemmatizer()
  return lemmatizer.lemmatize(token)

In [283]:
def get_stemming(token):
  stemmer  = PorterStemmer()
  return stemmer.stem(token)

In [284]:
lem_tokenized = [[get_lemmatization(token) for token in sent] for sent in tqdm.tqdm(tokenized_sents)]
len(lem_tokenized)

100%|██████████| 9366/9366 [00:00<00:00, 18657.69it/s]

9366

In [285]:
lemStem_tokenized = [[get_stemming(token) for token in sent] for sent in tqdm.tqdm(lem_tokenized)]
len(lemStem_tokenized)

100%|██████████| 9366/9366 [00:03<00:00, 2926.73it/s]

9366

In [286]:
lemStem_tokenized[:3]

[['matthew',
  'deluca',
  'nuclear',
  'wast',
  'dorsai',
  'grey',
  'captain',
  'nntppostinghost',
  'oitgatechedu',
  'articl',
  'william',
  'reiken',
  'write',
  'creation',
  'oil',
  'produc',
  'bacteria'],
 ['figur', 'make', 'eat', 'make', 'shit'],
 ['comment']]

In [287]:
all_tokens = []
for sent in lemStem_tokenized:
  for token in sent:
    all_tokens.append(token)
len(all_tokens)

96505

In [289]:
dataframe = {}
token_freq = FreqDist(all_tokens).most_common(20)
dataframe['Token'] = [pair[0] for pair in token_freq]
dataframe['Frequency'] = [pair[1] for pair in token_freq]
freq_analysis = pd.DataFrame(dataframe) 
freq_analysis

              Token  Frequency
0             space       1195
1             orbit        506
2             write        478
3            launch        470
4               one        413
5              nasa        409
6               use        404
7            articl        402
8              like        360
9           univers        335
10           system        329
11              get        327
12             year        318
13             time        317
14         satellit        311
15             also        285
16             moon        285
17  nntppostinghost        282
18            first        273
19             work        264

## Keyword extraction using TF-IDF

In order to extract keywords, I am going to combine two different approaches. As you can see, most frequent terms are keywords of this context as well. Thus, I can calculate TF-IDF values just for frequent tokens.

In [290]:
frequents = FreqDist(all_tokens).most_common(1000)

In [291]:
terms = [pair[0] for pair in frequents]
tf = [pair[1] for pair in frequents]

In [292]:
doc_sent = []
for c in content:
  doc_sent.append(sent_tokenize(c))

print(len(doc_sent))

593

In [293]:
normalized_doc_sents = []
for doc in doc_sent:
  temp = []
  for sent in doc:
    s = remove_whitespace(sent)
    s, _ = find_emails(s)
    s = remove_punctuation(s)
    s = remove_stopwords(s)
    s = get_lowercase(s)
    s = second_stopword_removing(s)
    temp.append(s)
  normalized_doc_sents.append(temp)

print(len(normalized_doc_sents))

593

In [294]:
tokenized_doc_sents = []
for doc in normalized_doc_sents:
  temp = []
  for sent in doc:
    words = word_tokenize(sent)
    temp.append(words)
  tokenized_doc_sents.append(temp)

print(len(tokenized_doc_sents))

593

In [295]:
lem_tokenized_doc = []

for doc in tokenized_doc_sents:
  sents = []
  for sent in doc:
    tokens = []
    for token in sent:
      tokens.append(get_lemmatization(token))
    sents.append(tokens)
  lem_tokenized_doc.append(sents)

len(lem_tokenized_doc)

593

In [296]:
lemStem_tokenized_doc = []

for doc in lem_tokenized_doc:
  sents = []
  for sent in doc:
    tokens = []
    for token in sent:
      tokens.append(get_stemming(token))
    sents.append(tokens)
  lemStem_tokenized_doc.append(sents)

len(lemStem_tokenized_doc)

593

In [297]:
df = [0 for _ in range(len(terms))]
for i, term in enumerate(terms):
  for doc in lemStem_tokenized_doc:
    for sent in doc:
      if term in sent:
        df[i] += 1
        break
len(df)

1000

In [298]:
dataframe = {}
dataframe['Token'] = terms[:20]
dataframe['TF'] = tf[:20]
dataframe['DF'] = df[:20]
token_tf_df = pd.DataFrame(dataframe)
token_tf_df

              Token    TF   DF
0             space  1195  294
1             orbit   506  160
2             write   478  359
3            launch   470  121
4               one   413  225
5              nasa   409  139
6               use   404  203
7            articl   402  307
8              like   360  217
9           univers   335  219
10           system   329  119
11              get   327  184
12             year   318  161
13             time   317  152
14         satellit   311   61
15             also   285  157
16             moon   285  114
17  nntppostinghost   282  282
18            first   273  142
19             work   264  155

In [299]:
def get_idf(df, n):
  idf = np.log2(n/df) + 1
  return idf

In [300]:
n = len(lemStem_tokenized_doc)
idf = []
for x in df:
  idf.append(get_idf(x, n))
len(idf)

1000

In [301]:
term_tfidf = {}
for i in range(len(terms)):
  tfidf = tf[i] * idf[i]
  term_tfidf[terms[i]] = tfidf

In [302]:
sorted_pairs = sorted(term_tfidf.items(), key=lambda kv: -kv[1])

## Best 10 Keywords

In [303]:
dataframe = {}
dataframe['Token'] = [pair[0] for pair in sorted_pairs][:10]
dataframe['TF-IDF'] = [pair[1] for pair in sorted_pairs][:10]
token_tf_idf = pd.DataFrame(dataframe)
token_tf_idf

      Token       TF-IDF
0     space  2404.598060
1    launch  1547.721777
2     orbit  1462.319861
3  satellit  1331.437948
4      nasa  1265.015414
5    system  1091.316205
6   mission  1075.081325
7       use  1028.807160
8       one   990.418234
9      moon   963.014510

## Most frequent emails

In [312]:
email_freq = {}
for email in emails:
  if email_freq.get(email) is None:
    email_freq[email] = 0
    continue
  email_freq[email] = email_freq[email] + 1

In [313]:
sorted_emails = sorted(email_freq.items(), key=lambda kv: -kv[1])
dataframe = {}
dataframe['Email'] = [pair[0] for pair in sorted_emails][:10]
dataframe['Frequency'] = [pair[1] for pair in sorted_emails][:10]
email_freq_df = pd.DataFrame(dataframe)
email_freq_df

                            Email  Frequency
0           henry@zoo.toronto.edu         91
1            prb@access.digex.com         82
2      baalke@kelvin.jpl.nasa.gov         60
3         nsmca@aurora.alaska.edu         57
4          nsmca@acad3.alaska.edu         32
5       jbh55289@uxa.cso.uiuc.edu         31
6         sysmgr@king.eng.umd.edu         30
7        mccall@mksol.dseg.ti.com         27
8                     aws@iti.org         27
9  isu@VACATION.VENARI.CS.CMU.EDU         25